<div class="row">
  <div class="detail-grid col-xs-12 col-md-5 col-lg-3 w-100">
    <img alt="Holy Crow Image" src="assets/Holy_Crow.png" class="img-fluid profile-picture">
  </div>

  <div class="detail-grid col-xs-12 col-md-7 col-lg-9">
    <h1>Holy crow!</h1>
    <p>
      Looks like the page you were looking for has been stolen!
      Please try another page, or stick around and read my 10 favorite 
      crow facts:
    </p>
  </div>

  <div class="detail-grid col-12">
    <ol>
      <li>
        They have the largest brain to body ratio of all birds, and the anatomy of
        their brain is similar to that of humans. This results in intelligence that
        rivals our own.
      </li>
      <li>
        Crows are one of the most resourceful creatures. They are able to not only
        use, but create their own tools, even if they have never seen it before.
        These include but are not limited to knives and hooks.
      </li>
      <li>
        When they encounter a tough nut that they can't crack, they have a few
        methods they like to use. If there's a road nearby, they'll place it in
        the path of a car (they prefer smaller cars so the nut isn't reduced to a
        pulp), and will wait for the traffic signal to change before they retrieve
        it. If no cars are around, they know just how high they need to drop it
        from to let gravity do the work without wasting energy by flying too high.
      </li>
      <li>
        They have discovered that they can use breadcrumbs for fishing.
      </li>
      <li>
        Crows can mimic sounds even better than parrots can. They even use this to
        their advantage in the wild. If they find a dead animal with skin to thick
        for their beak to break, they will mimic the call of a bigger animal to
        lure them to the location. Once the animal has left, the crow will pick at
        the remains.
      </li>
      <li>
        They also use their ability to mimic sounds to slightly alter their dialect
        to differentiate their community from others.
      </li>
      <li>
        They can analyze and communicate so effectively that generations later, the
        young crows can recognize what was described in the legends incredibly
        accurately. They often tell stories of humans who have mistreated them
        in this way, and if the human ever returns, the entire group will attack.
      </li>
      <li>
        Crows also can accurately judge the character of a human by expression and
        slight facial features. If they trust the human enough, they can even bond
        with them and share what they judge as valuable.
      </li>
      <li>
        They often hold funerals for their dead. If they find a dying crow, they'll
        kill it so it doesn't suffer (which is why a group of crows is called a murder).
      </li>
      <li>
        Crows choose a mate for life. Even though they reach sexual maturity after 2
        years, they often wait until they find the perfect partner.
      </li>
    </ol>
  </div>
</div>
