<div class="row">
  <div *ngFor="let skill of skills" class="detail-grid col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <h3>{{ skill.description }}</h3>
    <ul>
      <li *ngFor="let detail of skill.details">
        <a *ngIf="detail.link" href="{{ detail.link }}" target="_blank">{{ detail.detail }}</a>
        <div *ngIf="!detail.link">{{ detail.detail }}</div>
        <ul *ngIf="detail.points">
          <li *ngFor="let point of detail.points">
            <a *ngIf="point.link" href="{{ point.link }}" target="_blank">{{ point.detail }}</a>
            <div *ngIf="!point.link">{{ point.detail }}</div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
