a {
    color: #BBFFBB;
    text-decoration: underline #BBFFBB;
}

a:hover {
    color: white;
    text-decoration: underline white;
}

body {
    background-color: #C2D7DC;
    height: 100vh;
}

.detail-grid {
    background-color: #222629;
    color: #ffffff;
    border: solid #C2D7DC 5px;
    padding-left: 5px;

    p, a, li {
        font-size: 15pt;
    }
}

.parent {
    margin: 20px;
}

.profile-picture {
    margin: 5px 0px 5px 5px;
}
