<div class="row">

  <div class="detail-grid col-xs-12 col-md-5">
    <img alt="Profile Picture" src="assets/Jacob-Gast-Profile-Picture.jpg" class="img-fluid profile-picture">
  </div>

  <div class="detail-grid col-xs-12 col-md-7">
    <div class="container h-100">
      <div class="d-flex flex-column justify-content-center h-100">
        <h1 class="text-center welcome-text">Welcome!</h1>
      </div>
    </div>
  </div>

  <div class="detail-grid col-xs-12 col-md-8">
    <h3>About me:</h3>
    <p>
      Hello, my name is Jacob Gast. I'm looking to further my career as a front-end web developer using Angular
      or similar frameworks. I made this interactive resume to display my skill of creating a simple, yet quality
      product. It also contains more details than a paper resume could. It's been designed to be a responsive,
      component-based single-page web application. Please take a look at the code that powers this site to see
      my quality standards and practices here:
      <a href="https://github.com/jacobgast/interactive-resume" target="_blank">https://github.com/jacobgast/interactive-resume</a>
    </p>
  </div>

  <div class="detail-grid col-xs-12 col-md-4">
    <h3>Notable skills:</h3>
    <ul>
      <li>Angular experience</li>
      <li>Bootstrap experience</li>
      <li>Component-based design</li>
      <li>Single-page application design</li>
      <li>Test-driven development</li>
    </ul>
  </div>

</div>
